  /* Banner Styles */
  .banner {
    margin-top: 25px;
    background-color: #6c757d;
    /* Example color - you can change this */
    color: white;
    padding: 10px;
    border-radius: 10px;
    /* Add bottom border-radius */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Center content vertically and horizontally */
}

.banner h1 {
    margin: 0;
    padding: 10px;
    font-size: 18pt;
}

.banner h2 {
    margin: 0;
    padding: 10px;
    font-size: 12pt;
}

h3 {
    margin: 0;
    padding-left: 10px;
}

/* Collapse Button Styles */
.collapse-button {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.collapse-button:hover {
    background-color: #f0f0f0;
    border-color: #bbb;
}

.collapse-button i {
    font-size: 16px;
    color: #333;
    transition: transform 0.3s ease-in-out;
}

.collapse-button[aria-expanded="true"] i {
    transform: rotate(180deg);
}

/* Spinner Styles */
#spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Center the spinner */
}

.spinner-icon {
    border: 8px solid #f3f3f3;
    /* Increased border width for bigger spinner */
    border-radius: 50%;
    border-top: 8px solid #3498db;
    /* Increased border width for bigger spinner */
    width: 40px;
    /* Increased size for bigger spinner */
    height: 40px;
    /* Increased size for bigger spinner */
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
}

/* Image Styles */
.image-container {
    max-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    /* Gray border for cells */
    flex-direction: column;
    /* Stack image and caption vertically */
}

.image-container img {
    max-width: 100%;
    max-height: 300px; /* Set the maximum height here */
    height: auto; /* Ensure aspect ratio is maintained */
    object-fit: contain; /* Ensure the image fits within the max height and width */
}

.image-cell {
    padding: 0px;
}

/* Panel Styles */
.panel {
    margin-top: 15px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.panel-heading {
    padding: 5px;
    background-color: #3498db;
    /* Change search filters background color */
    color: white;
    border-radius: 10px 10px 0 0;
}

/* Gray background for Search Settings panel header */
.search-settings-header {
    background-color: #f0f0f0; /* Light gray color */
    color: #333;
    padding: 10px;
    border-radius: 10px 10px 0 0; /* Rounded top corners */
}

/* Remove right margin from icons */
.panel-heading .d-flex.align-items-center i {
    font-size: 16px; /* Adjust the size of the magnifier icon */
}

/* Remove right margin from icons */
.panel-heading .d-flex.align-items-center i.me-2 {
    font-size: 28px; /* Adjust the size of the magnifier icon */
    margin-left: 5px!important; /* Remove any default margin to the right */
}

.panel-title {
    font-size: 18px;
    /* Make search filters title smaller */
}

.panel-body {
    padding: 25px;
}

.row div {
    margin-bottom: 5px;
}