http.port=8081

# Default agents
agent.erp.url=
agent.crm.url=
agent.agentforce.url=
agent.einstein.url=

agent.general.timeout=60

openai.apikey=
openai.model=gpt-4o-mini
openai.maxToken=5000

salesforce.tokenUrl=
salesforce.clientId=
salesforce.clientSecret=

einstein.queryAssessmentModel=sfdc_ai__DefaultGPT41
einstein.agentReasoningModel=sfdc_ai__DefaultGPT41