http.port=8081

agent.name=Reservation Agent
agent.host=
agent.description=Agentforce Agent which is responsible for making reservation. 
agent.iconUrl=https://raw.githubusercontent.com/MuleSoft-AI-Chain-Project/example-mule-apps/refs/heads/master/a2a-ail-demo/a2a-interaction-agent-app/src/main/resources/uiapp/assets/images/agentforceagent.png
agent.documentationUrl=https://developer.salesforce.com/docs/einstein/genai/overview
agent.providerOrganization=Salesforce
agent.providerUrl=https://www.salesforce.com

agent.skill.1.id=1
agent.skill.1.name=Submit Reservation
agent.skill.1.description=Agent makes reservation on behalf of user

agentforce.tokenUrl=
agentforce.clientId=
agentforce.clientSecret=

einstein.tokenUrl=
einstein.clientId=
einstein.clientSecret=