http.port=8081

agent.name=Reservation Agent
agent.host=
agent.description=Agentforce Agent which is responsible for making reservation. 

agent.skill.1.id=1
agent.skill.1.name=Submit Reservation
agent.skill.1.description=Agent makes reservation on behalf of user

salesforce.tokenUrl=
salesforce.clientId=
salesforce.clientSecret=